@import './base.css';

#__nuxt {
  align-items: center;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

a {
  background-color: transparent;
}

@media (hover: hover) {
  a:hover {
    background-color: transparent;
  }
}
